include /data/site.jade
include /data/i18n.jade
<?xml version="1.0" encoding="UTF-8"?>
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9', xmlns:xhtml="http://www.w3.org/1999/xhtml")
	url
		loc= site.url
		each language in site.langs
			xhtml:link(rel= 'alternate', hreflang= language, href=site.url + language + '/')/
		changefreq= 'daily'
		priority= '1.0'
	url
		loc= site.url + 'blog/'
		each language in site.langs
			xhtml:link(rel= 'alternate', hreflang= language, href=site.url + language + 'blog/')/
		changefreq= 'daily'
		priority= '0.9'
